$colors: (
  product-primary-light: lighten(#5185EC, 4%),
  product-primary: #5185EC,
  product-primary-dark: darken(#5185EC, 4%),
  product-accent: #35302F,
  product-accent-dark: darken(#35302F, 4%),
  product-text-on-light: #111,
  product-background: #FFFFFF
);

$local-vars: (
  logo: (
    width: 150px
  ),
  button: (
    box-shadow: 0 1px 3px 1px rgba(60,64,67,0.149),
    background: white,
    border: none,
    border-radius: 24px,
    padding: 16px 24px,
    color: #3c4043
  )
);

$base-border-radius: 12px;
$global-font-name: 'Roboto';
$font-faces-config: (
  300: 'Light',
  400: 'Regular',
  500: 'Medium',
  600: 'Bold',
  700: 'Black',
);
