$colors: (
  product-primary-light: lighten(#415993, 4%),
  product-primary: #415993,
  product-primary-dark: darken(#415993, 4%),
  product-accent: #3C3C3C,
  product-accent-dark: darken(#3C3C3C, 4%),
  product-text-on-light: #111,
  product-background: #FFFFFF
);

$local-vars: (
  logo: (
    width: 150px
  ),
  button: (
    box-shadow: none,
    background: #1877F2,
    border: none,
    border-radius: 6px,
    padding: 12px 24px,
    color: white
  )
);

$base-border-radius: 8px;
$global-font-name: 'Roboto';
$font-faces-config: (
  300: 'Light',
  400: 'Regular',
  500: 'Medium',
  600: 'Bold',
  700: 'Black',
);
