@each $weight, $name in $font-faces-config {
  @font-face {
    font-family: $global-font-name;
    src: url('../assets/fonts/#{$global-font-name}-#{$name}.ttf') format('truetype');
    font-weight: $weight;
    font-style: normal;
  }
}

$vars: (
  color: $colors,
  global: $global-vars,
);

:root {
  @each $prefix, $list in $vars {
    @each $name, $value in $list {
      --#{$prefix}-#{$name}: #{$value};
    }
  }
}

@import './utils/_normalize.scss';
@import './utils/_common.scss';
